body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-size: 100%;
    background-repeat:no-repeat;

}

.pic {
    display: block;
    float: left;
    position: relative;
    margin: 0 .78125% 50px;
    width: 23.4375%
}
ul {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.description {
    padding-top: 5px;
    padding-bottom:5px;
    /* padding-left: 0.5px;
    padding-left: 0.5px; */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -0px;
    margin-right: -0px;
    font-size: 90%;
    display: block;
    /* float: left; */
    position: relative;
    top: -5px;
    margin: 1% 30px;
    clear: both;
}
.num {
    color: rgb(141, 153, 153);
    font-size: small;
}
.name {
    color: rgba(17, 14, 71, 0.472);
    font-size: 2em;
    text-align: center;
    margin-top:auto;
    margin-bottom:0em;
}
.pic-type1 {
    font-size: 9px;
    text-align: center;
    background-color: rgb(147, 153, 153);
    float: left;
    border-radius: 6px;
    width:50px;
    display: inline;

}
.pic-type2 {
    font-size: 9px;
    text-align: center;
    background-color: rgb(147, 153, 153);
    float: left;
    border-radius: 6px;
    width:50px;
    display: inline;

}
.Evo-Stage {

    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:2em;
    font-weight:bold
}

* {
    box-sizing: border-box;
}

div.search-bar01 {
    padding: 10px 0;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input,button {
    border: none;
    outline: none;
}

.search-bar01 input {
    width: 100%;
    height: 40px;
    padding-left: 13px;
    border: 2px solid #c5464a;
    border-radius: 20px;
    background: transparent;
}

.search-bar01 button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    background: #e22c32;
    border-radius: 0 20px 20px 0;
    width: 250px;
    right: 0;

}
.search-bar01 button:hover {
    background-color: #834d4f;
}
.search-bar02 input {
    width: 100%;
    height: 40px;
    padding-left: 13px;
    border: 2px solid #c5464a;
    border-radius: 20px;
    background: transparent;
}

.search-bar02 button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    background: #e22c32;
    border-radius: 0 20px 20px 0;
    width: 250px;
    right: 0;

}
.search-bar02 button:hover {
    background-color: #834d4f;  
}
#footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(141, 102, 145);
    color: #fff;
    letter-spacing: 5px;
}
#footer2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(141, 102, 145);
    color: #fff;
    letter-spacing: 5px;
}



